name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  ci:
    uses: Truthdb/.github/.github/workflows/rust-ci.yml@workflows-v1
    with:
      cargo_test_command: cargo test
      cargo_build_command: cargo build --release
      artifact_name: orchestrator
      artifact_path: target/release/orchestrator
